@charset "UTF-8";

body{
 color: #00FFFF;
 letter-spacing: 0.2em;
 padding: 2px;
 margin: 10px;
 margin-bottom: 40px;
 background: url(PXL_20221118_044936022_2-01.jpeg)center top/cover no-repeat;
 background:cover; 
  width:700px
 height：450px
 top ：500px
 left ：880px
 
}

#blog-title{

 width:1174px;
 margin:0 auto;
}
#blog-title-inner{
 background-image:IMG_20200404_135215_2.jpg 
 background-size:cover;
}
 
main {
	background-color: ;
	margin: 
	padding: 10px 0 15px 0;
	height:420px
	width: 850px;
}
 
#box1 {
font-size:35px;
line-height:5px;
	width: 800px;
	height: 0px;
    padding: 30px;
    padding-bottom: 40px;
    margin-bottom: px;
    margin-left: 180px;
	float: left;
}
 
#box2 {
font-size:30px;
line-height:14px;
	width: 700px;
	height: 100px;
    padding-top: 20px;
	margin-bottom:px;
	margin-top: px;
	margin-right: 40px;
	float: right;
}
